.header {
  // margin-top: 10px;
  height: 85px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 10px;
  padding-top: 10px;
  font-family: $font_project;
}

.header .container {
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  ul {
    // border: 1px solid black;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    li {
      margin-left: 10px;
      list-style: none;
      font-size: 1.3rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        margin-left: 2rem;
        width: 80px;
        align-self: center;
        height: 2.3rem;
        background: #fff;
        color: $pr-color;
        border: 2px solid $pr-color;
        border-radius: 10px;
      }
      &:last-child:hover {
        color: #fff;
        background-color: $pr-color;
        font-weight: bold;
      }
      &:hover {
        color: $pr-color;
      }
    }
  }
}

.logo {
  margin-left: 25px;
  height: 60px;
  width: 60px;
}
