.icon-terminal {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  -webkit-mask: url(../assets/logos/terminal.svg) no-repeat center;
  mask: url(../assets/logos/terminal.svg) no-repeat center;
}
.icon-tools {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  -webkit-mask: url(../assets/logos/gear.svg) no-repeat center;
  mask: url(../assets/logos/gear.svg) no-repeat center;
}
